<global-filter data-hide-vo="true" data-hide-pair="true"></global-filter>

<h2>Statistics - Servers</h2>
<h3>
    For the last {{globalFilter.time_window || '1' }}
    <span data-ng-show="globalFilter.time_window == 1 || !globalFilter.time_window">hour</span>
    <span data-ng-show="globalFilter.time_window > 1">hours</span>
</h3>

<table class="table">
    <thead>
        <tr>
            <th style="width: 10%">Server</th>
            <th style="width: 10%">Services</th>
            <th class="numeric" style="width: 12%">Submissions</th>
            <th class="numeric" style="width: 12%">Executed</th>
            <th class="numeric" style="width: 12%">Active</th>
            <th class="numeric" style="width: 12%">Staging queued</th>
            <th class="numeric" style="width: 12%">Staging started</th>
            <th>Logs</th>
        </tr>
    </thead>
    <tbody>
        <tr data-ng-repeat="(k, s) in servers" data-ng-class-odd="'odd'">
            <td>
                <a href="#/statistics/overview?hostname={{k}}">{{k}}</a>
            </td>
            <td>
                <span data-ng-repeat="(service, segment) in s.services" title="[{{segment.start}}, {{segment.end}}]" data-ng-class="'status-'+segment.status">
                    {{service}}

                    <i class="icon-ok-sign" title="Running ({{segment.beat}})" data-ng-show="segment.status == 'running'"></i>
                    <i class=" icon-warning-sign" title="Not running ({{segment.beat}})" data-ng-show="segment.status == 'down'"></i>
                    <i class="icon-wrench" title="Draining" data-ng-show="segment.drain"></i>
                    <br/>
                </span>
            </td>
            <td class="numeric">{{s.submissions}}</td>
            <td class="numeric">{{s.transfers}}</td>
            <td class="numeric">{{s.active}}</td>
            <td class="numeric">{{s.staging}}</td>
            <td class="numeric">{{s.started}}</td>
            <td>
                <a href="{{s.fts3server_log}}">FTS3</a><br/>
                <a href="{{s.fts3bringonline_log}}">Bringonline</a>
            </td>
        </tr>
    </tbody>
</table>

<div class="row-fluid">
    <div class="span4" style="text-align: center">
        <div data-ac-chart="'pie'" data-ac-data="plots.submit" data-ac-config="plots.submit.config" id="submissions" class="chart">
        </div>
    </div>
    <div class="span4" style="text-align: center">
        <div data-ac-chart="'pie'" data-ac-data="plots.executed" data-ac-config="plots.executed.config" id="executed" class="chart">
        </div>
    </div>
    <div class="span4" style="text-align: center">
        <div data-ac-chart="'pie'" data-ac-data="plots.active" data-ac-config="plots.active.config" id="active" class="chart">
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span6" style="text-align: center">
        <div data-ac-chart="'pie'" data-ac-data="plots.staging" data-ac-config="plots.staging.config" id="staging" class="chart">
        </div>
    </div>
    <div class="span6" style="text-align: center">
        <div data-ac-chart="'pie'" data-ac-data="plots.started" data-ac-config="plots.started.config" id="started" class="chart">
        </div>
    </div>
</div>
