<global-filter data-hide-vo="true"></global-filter>

<h2>Statistics - TURLS</h2>

<h3>Showing {{turls.startIndex}} to {{turls.endIndex}} out of {{turls.count}}</h3>

<pagination rotate="false"
    page="turls.page" total-items="turls.count" items-per-page="turls.pageSize"
    max-size="15" class="pagination" boundary-links="true"
    on-select-page="pageChanged(page)"></pagination>

<table class="table">
    <thead>
        <tr>
            <th>
                <i class="icon-th-list" ng-click="filterBy({source_se: ''})"></i>
                Source SURL
            </th>
            <th>
                <i class="icon-th-list" ng-click="filterBy({dest_se: ''})"></i>
                Destination SURL
            </th>
            <th>Source TURL</th>
            <th>Destination TURL</th>
            <th class="numeric" style="width: 7%"><span order-by="throughput">Throughput</span></th>
            <th class="numeric" style="width: 5%"><span order-by="finish">Finish</span></th>
            <th class="numeric" style="width: 5%"><span order-by="fail">Fail</span></th>
        </tr>
    </thead>
    <tbody ng-repeat="t in turls.items" ng-class-odd="'odd'">
        <tr>
            <td>
                <span class="filter-on-click" ng-click="filterBy({source_se: t.source_surl})" title="Filter source SURL">
                    {{t.source_surl}}
                </span>
            </td>
            <td>
                <span class="filter-on-click" ng-click="filterBy({dest_se: t.destin_surl})" title="Filter destination SURL">
                    {{t.destin_surl}}
                </span>
            </td>
            <td>{{t.source_turl}}</td>
            <td>{{t.destin_turl}}</td>
            <td class="numeric" >{{t.throughput|number:2}} MB/s</td>
            <td class="numeric" >{{t.finish}}</td>
            <td class="numeric" >{{t.fail}}</td>
        </tr>
    </tbody>
</table>

<pagination rotate="false"
    page="turls.page" total-items="turls.count" items-per-page="turls.pageSize"
    max-size="15" class="pagination" boundary-links="true"
    on-select-page="pageChanged(page)"></pagination>
