<global-filter></global-filter>

<h2>Statistics - Transfer volume</h2>

<h3>Showing {{volumes.startIndex}} to {{volumes.endIndex}} out of {{volumes.count}}</h3>

<pagination rotate="false"
    page="volumes.page" total-items="volumes.count" items-per-page="volumes.pageSize"
    max-size="15" class="pagination" boundary-links="true"
    on-select-page="pageChanged(page)"></pagination>

<table class="table">
    <thead>
        <tr>
            <th>VO</th>
            <th>Source</th>
            <th>Destination</th>
            <th>Volume</th>
        </tr>
    </thead>
    <tbody data-ng-repeat="v in volumes.items" data-ng-class-odd="'odd'">
        <tr>
            <td>{{v.vo}}</td>
            <td>{{v.source_se}}</td>
            <td>{{v.dest_se}}</td>
            <td>{{v.volume|filesize}}</td>
        </tr>
    </tbody>
</table>

<pagination rotate="false"
    page="volumes.page" total-items="volumes.count" items-per-page="volumes.pageSize"
    max-size="15" class="pagination" boundary-links="true"
    on-select-page="pageChanged(page)"></pagination>
