<h2>Configuration status</h2>

<h3>Server config</h3>

<ul data-ng-show="server.optimizer_mode" style="list-style-type: none">
    <li><b>Optimizer level:</b> {{ server.optimizer_mode }}</li>
</ul>

<table class="table">
    <thead>
        <tr>
            <th>VO</th>
            <th>Retry</th>
            <th>Max. Time in queue</th>
            <th>Global timeout</th>
            <th>Seconds per MB</th>
            <th>TCP streams</th>
            <th>Max active per storage</th>
            <th>Max active per link</th>
        </tr>
    </thead>
    <tbody>
        <tr data-ng-repeat="c in server.per_vo" data-ng-class-odd="'odd'">
            <td>
                <span data-ng-show="!c.vo_name">
                    *
                </span>
                <span data-ng-show="c.vo_name">
                    {{ c.vo_name }}
                </span>
            </td>
            <td>{{ c.retry }}</td>
            <td>{{ c.max_time_queue }}</td>
            <td>{{ c.global_timeout }}</td>
            <td>{{ c.sec_per_mb }}</td>
            <td>{{ c.tcp_streams }}</td>
            <td>{{ c.max_per_se }}</td>
            <td>{{ c.max_per_link }}</td>
        </tr>
    </tbody>
</table>

<h3>Debug settings</h3>
<h4>Showing {{ debug.startIndex }} to {{ debug.endIndex }} out of {{ debug.count }}</h4>
<pagination rotate="false"
    page="debug.page" total-items="debug.count" items-per-page="debug.pageSize"
    max-size="15" class="pagination" boundary-links="true"
    on-select-page="debugPageChanged(page)"></pagination>

<table class="table">
    <thead>
        <tr>
            <th>Source</th>
            <th>Destination</th>
            <th>Debug level</th>
        </tr>
    </thead>
    <tbody>
        <tr data-ng-repeat="d in debug.items" data-ng-class-odd="'odd'">
            <td>{{ d.source_se }}</td>
            <td>{{ d.dest_se }}</td>
            <td>{{ d.debug_level }}</td>
        </tr>
    </tbody>
</table>

<pagination rotate="false"
    page="debug.page" total-items="debug.count" items-per-page="debug.pageSize"
    max-size="15" class="pagination" boundary-links="true"
    on-select-page="debugPageChanged(page)"></pagination>
