<global-filter data-hide-vo="true" data-hide-time="true"></global-filter>

<h2>Active count per activity for {{ vo }}</h2>

<div class="row-fluid">
    <div class="span6">
        <div data-ac-chart="'pie'" data-ac-data="plots.submittedCount" data-ac-config="plots.submittedCount.config" id="submittedCount" class="chart"></div>
    </div>
    <div class="span6">
        <div data-ac-chart="'pie'" data-ac-data="plots.activeCount" data-ac-config="plots.activeCount.config" id="activeCount" class="chart"></div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Activity</th>
            <th>Submitted</th>
            <th>Active</th>
        </tr>
    </thead>
    <tbody>
        <tr data-ng-repeat="(activity, count) in activeCount" data-ng-class-odd="'odd'">
            <td>{{ activity }}</td>
            <td><span data-optional-number="{{count.SUBMITTED}}" data-decimals="0" data-display-zero="true"></span></td>
            <td><span data-optional-number="{{count.ACTIVE}}" data-decimals="0" data-display-zero="true"></span></td>
        </tr>
    </tbody>
</table>
